.image {
height: 100px;
}

.form-check {
    display: inline-flex;
}

@media all and (max-width:500px) {
    .form-check {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}